body {
    background-image: url('../img/backPhoto.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.box,
#container {
    border: 10px solid black;
}

#container,
#left {
    font-family: 'Times New Roman', Times, san-serif;
}

.box,
.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    text-align: center;
    font-size: 200%;
    padding: 40px;
}

#left {
    text-align: left;
    font-size: 100%;
    max-width: 50%;
}

.box {
    height: 900px;
}

ul,
ol {
    text-align: left;
    list-style-position: inside;
}

h1,
h4 {
    text-decoration: underline;
    text-align: center;
}