body {
    background-image: url('../img/apple.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vh;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}


.recipes {
    font-size: 26px;
    font-weight: bold;
}

.align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredients,
.steps,
.eat {
    text-align: left;
    max-width: 560px;
}

.text {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    text-align: center;
}

.summary h1 {
    font-size: 36px;
}

a {
    text-decoration: none;
}

.container h4 {
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
}

ul,
ol {
    list-style-position: inside;
}