body {
    background-image: url('../img/backPhoto.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.box {
    border: 10px solid black;
    max-width: 300px;
    padding: 20px;
    margin: 0 auto;
}